# 01. ë¡œì»¬ í™˜ê²½ Northwind ë°ì´í„°ë² ì´ìŠ¤ êµ¬ì¶• (Text-to-SQLìš©)

ì´ ë…¸íŠ¸ë¶ì€ **ë¡œì»¬ SQLite í™˜ê²½**ì—ì„œ Text-to-SQL RAG ì‹œìŠ¤í…œì„ ìœ„í•œ Northwind ìƒ˜í”Œ ë°ì´í„°ë² ì´ìŠ¤ë¥¼ êµ¬ì¶•í•©ë‹ˆë‹¤.

## ğŸ¯ ëª©í‘œ
- **SQLite ë°ì´í„°ë² ì´ìŠ¤** ìƒì„± ë° ì—°ê²°
- **Northwind ìƒ˜í”Œ ë°ì´í„°ë² ì´ìŠ¤** ìŠ¤í‚¤ë§ˆ ì„¤ê³„ ë° êµ¬ì¶•
- **ìƒ˜í”Œ ë°ì´í„°** ì‚½ì… ë° ê²€ì¦
- **Text-to-SQL ì‹œìŠ¤í…œ** ì—°ë™ ì¤€ë¹„

## ğŸ—ï¸ Northwind ë°ì´í„°ë² ì´ìŠ¤ êµ¬ì¡°
```
Northwind Database (8ê°œ í…Œì´ë¸”)
â”œâ”€â”€ customers      # ê³ ê° ì •ë³´ (91ê°œ)
â”œâ”€â”€ suppliers      # ê³µê¸‰ì—…ì²´ ì •ë³´ (29ê°œ)
â”œâ”€â”€ categories     # ìƒí’ˆ ì¹´í…Œê³ ë¦¬ (8ê°œ)
â”œâ”€â”€ products       # ìƒí’ˆ ì •ë³´ (77ê°œ)
â”œâ”€â”€ employees      # ì§ì› ì •ë³´ (9ê°œ)
â”œâ”€â”€ shippers       # ìš´ì†¡ì—…ì²´ ì •ë³´ (3ê°œ)
â”œâ”€â”€ orders         # ì£¼ë¬¸ ì •ë³´ (830ê°œ)
â””â”€â”€ order_details  # ì£¼ë¬¸ ìƒì„¸ ì •ë³´ (2155ê°œ)
```

## ğŸ“‹ ì „ì œì¡°ê±´
- Python 3.7+
- SQLite3 (Python ë‚´ì¥)
- pandas, numpy

## ğŸš€ ë‹¤ìŒ ë‹¨ê³„
ì´ ë…¸íŠ¸ë¶ ì™„ë£Œ í›„ â†’ `02_langchain_agent_text_to_sql.ipynb`ì—ì„œ LangChain Agent êµ¬í˜„

## ğŸ—„ï¸ Northwind ìƒ˜í”Œ ë°ì´í„°ë² ì´ìŠ¤ ì†Œê°œ

NorthwindëŠ” **ê°€ìƒì˜ ë¬´ì—­íšŒì‚¬ ë°ì´í„°ë² ì´ìŠ¤**ë¡œ Text-to-SQL í•™ìŠµì— ì´ìƒì ì…ë‹ˆë‹¤.

### ğŸ“Š í…Œì´ë¸”ë³„ ìƒì„¸ ì •ë³´
- **Categories** (8ê°œ): ìŒë£Œ, ì¡°ë¯¸ë£Œ, ìœ ì œí’ˆ, í•´ì‚°ë¬¼, ê³¡ë¬¼/ì‹œë¦¬ì–¼, ìœ¡ë¥˜, ë†ì‚°ë¬¼, ê³¼ì
- **Suppliers** (29ê°œ): ì „ ì„¸ê³„ ë‹¤ì–‘í•œ ê³µê¸‰ì—…ì²´ ì •ë³´
- **Products** (77ê°œ): ê° ì¹´í…Œê³ ë¦¬ë³„ ë‹¤ì–‘í•œ ìƒí’ˆ
- **Customers** (91ê°œ): ì „ ì„¸ê³„ ê³ ê°ì‚¬ ì •ë³´
- **Employees** (9ê°œ): ì§ì› ì •ë³´ ë° ìƒí•˜ê´€ê³„
- **Shippers** (3ê°œ): Speedy Express, United Package, Federal Shipping
- **Orders** (830ê°œ): 1996-1998ë…„ ì£¼ë¬¸ ë°ì´í„°
- **Order Details** (2155ê°œ): ìƒí’ˆë³„ ì£¼ë¬¸ ìƒì„¸ ì •ë³´

### ğŸ¯ Text-to-SQLì— ì í•©í•œ ì´ìœ 
1. **ì‹¤ë¬´ ì¹œí™”ì **: ì‹¤ì œ ë¹„ì¦ˆë‹ˆìŠ¤ ì‹œë‚˜ë¦¬ì˜¤ ë°˜ì˜
2. **ë‹¤ì–‘í•œ ê´€ê³„**: JOIN, ì§‘ê³„, í•„í„°ë§ ë“± ë‹¤ì–‘í•œ SQL íŒ¨í„´
3. **ì§ê´€ì  ë°ì´í„°**: ë„ë©”ì¸ ì§€ì‹ì´ ì‰½ê²Œ ì´í•´ ê°€ëŠ¥
4. **ì ë‹¹í•œ í¬ê¸°**: í•™ìŠµ ë° í…ŒìŠ¤íŠ¸ì— ìµœì í™”ëœ ë°ì´í„° ê·œëª¨

In [ ]:
# 1. í•„ìš”í•œ ë¼ì´ë¸ŒëŸ¬ë¦¬ ì„í¬íŠ¸ ë° í™˜ê²½ ì„¤ì •
import sqlite3
import pandas as pd
import numpy as np
from pathlib import Path
from datetime import datetime, date
import warnings
warnings.filterwarnings('ignore')

print("ğŸš€ ë¡œì»¬ Northwind Text-to-SQL ë°ì´í„°ë² ì´ìŠ¤ êµ¬ì¶• ì‹œì‘")
print("=" * 60)

# í™˜ê²½ ì •ë³´ í™•ì¸
print(f"ğŸ“‹ í™˜ê²½ ì •ë³´:")
print(f"   Python: {pd.__version__} (pandas)")
print(f"   NumPy: {np.__version__}")
print(f"   ì‘ì—… ë””ë ‰í† ë¦¬: {Path.cwd()}")

# ë°ì´í„° ë””ë ‰í† ë¦¬ ìƒì„±
data_dir = Path("data")
data_dir.mkdir(exist_ok=True)

print(f"ğŸ“‚ ë°ì´í„° ë””ë ‰í† ë¦¬: {data_dir.absolute()}")
print(f"ğŸ“… ì‹œì‘ ì‹œê°„: {datetime.now().strftime('%Y-%m-%d %H:%M:%S')}")

In [ ]:
# 2. SQLite ë°ì´í„°ë² ì´ìŠ¤ ì—°ê²° ë° ì´ˆê¸°í™”
db_path = data_dir / "northwind.db"

print(f"ğŸ”— SQLite ë°ì´í„°ë² ì´ìŠ¤ ì—°ê²°...")
print(f"ğŸ“‚ ë°ì´í„°ë² ì´ìŠ¤ ê²½ë¡œ: {db_path.absolute()}")

try:
    # ê¸°ì¡´ ë°ì´í„°ë² ì´ìŠ¤ íŒŒì¼ì´ ìˆë‹¤ë©´ ë°±ì—…
    if db_path.exists():
        backup_path = db_path.with_suffix('.backup.db')
        db_path.rename(backup_path)
        print(f"ğŸ’¾ ê¸°ì¡´ ë°ì´í„°ë² ì´ìŠ¤ ë°±ì—…: {backup_path.name}")
    
    # ìƒˆë¡œìš´ ë°ì´í„°ë² ì´ìŠ¤ ì—°ê²°
    conn = sqlite3.connect(str(db_path))
    cursor = conn.cursor()
    
    # SQLite ì„¤ì • ìµœì í™”
    cursor.execute("PRAGMA foreign_keys = ON")  # ì™¸ë˜í‚¤ ì œì•½ì¡°ê±´ í™œì„±í™”
    cursor.execute("PRAGMA journal_mode = WAL")  # ì„±ëŠ¥ ìµœì í™”
    
    print("âœ… SQLite ë°ì´í„°ë² ì´ìŠ¤ ì—°ê²° ì„±ê³µ!")
    
    # SQLite ë²„ì „ í™•ì¸
    cursor.execute("SELECT sqlite_version()")
    sqlite_version = cursor.fetchone()[0]
    print(f"ğŸ”— SQLite ë²„ì „: {sqlite_version}")
    
    # ì„¤ì • í™•ì¸
    cursor.execute("PRAGMA foreign_keys")
    fk_status = cursor.fetchone()[0]
    print(f"ğŸ” ì™¸ë˜í‚¤ ì œì•½ì¡°ê±´: {'âœ… í™œì„±í™”' if fk_status else 'âŒ ë¹„í™œì„±í™”'}")
    
except Exception as e:
    print(f"âŒ ë°ì´í„°ë² ì´ìŠ¤ ì—°ê²° ì‹¤íŒ¨: {str(e)}")
    raise

In [ ]:
# 3. Northwind ë°ì´í„°ë² ì´ìŠ¤ ìŠ¤í‚¤ë§ˆ ìƒì„±
print("ğŸ—ï¸ Northwind ë°ì´í„°ë² ì´ìŠ¤ ìŠ¤í‚¤ë§ˆ ìƒì„±...")

# í…Œì´ë¸” ìƒì„± ìˆœì„œ (ì™¸ë˜í‚¤ ì˜ì¡´ì„± ê³ ë ¤)
schema_sql = {
    "categories": """
        CREATE TABLE categories (
            category_id INTEGER PRIMARY KEY,
            category_name VARCHAR(15) NOT NULL,
            description TEXT,
            picture BLOB
        )
    """,
    
    "suppliers": """
        CREATE TABLE suppliers (
            supplier_id INTEGER PRIMARY KEY,
            company_name VARCHAR(40) NOT NULL,
            contact_name VARCHAR(30),
            contact_title VARCHAR(30),
            address VARCHAR(60),
            city VARCHAR(15),
            region VARCHAR(15),
            postal_code VARCHAR(10),
            country VARCHAR(15),
            phone VARCHAR(24),
            fax VARCHAR(24),
            home_page TEXT
        )
    """,
    
    "products": """
        CREATE TABLE products (
            product_id INTEGER PRIMARY KEY,
            product_name VARCHAR(40) NOT NULL,
            supplier_id INTEGER,
            category_id INTEGER,
            quantity_per_unit VARCHAR(20),
            unit_price DECIMAL(10,4) DEFAULT 0,
            units_in_stock SMALLINT DEFAULT 0,
            units_on_order SMALLINT DEFAULT 0,
            reorder_level SMALLINT DEFAULT 0,
            discontinued INTEGER NOT NULL DEFAULT 0,
            FOREIGN KEY (supplier_id) REFERENCES suppliers(supplier_id),
            FOREIGN KEY (category_id) REFERENCES categories(category_id)
        )
    """,
    
    "customers": """
        CREATE TABLE customers (
            customer_id VARCHAR(5) PRIMARY KEY,
            company_name VARCHAR(40) NOT NULL,
            contact_name VARCHAR(30),
            contact_title VARCHAR(30),
            address VARCHAR(60),
            city VARCHAR(15),
            region VARCHAR(15),
            postal_code VARCHAR(10),
            country VARCHAR(15),
            phone VARCHAR(24),
            fax VARCHAR(24)
        )
    """,
    
    "employees": """
        CREATE TABLE employees (
            employee_id INTEGER PRIMARY KEY,
            last_name VARCHAR(20) NOT NULL,
            first_name VARCHAR(10) NOT NULL,
            title VARCHAR(30),
            title_of_courtesy VARCHAR(25),
            birth_date DATE,
            hire_date DATE,
            address VARCHAR(60),
            city VARCHAR(15),
            region VARCHAR(15),
            postal_code VARCHAR(10),
            country VARCHAR(15),
            home_phone VARCHAR(24),
            extension VARCHAR(4),
            photo BLOB,
            notes TEXT,
            reports_to INTEGER,
            photo_path VARCHAR(255),
            FOREIGN KEY (reports_to) REFERENCES employees(employee_id)
        )
    """,
    
    "shippers": """
        CREATE TABLE shippers (
            shipper_id INTEGER PRIMARY KEY,
            company_name VARCHAR(40) NOT NULL,
            phone VARCHAR(24)
        )
    """,
    
    "orders": """
        CREATE TABLE orders (
            order_id INTEGER PRIMARY KEY,
            customer_id VARCHAR(5),
            employee_id INTEGER,
            order_date DATE,
            required_date DATE,
            shipped_date DATE,
            ship_via INTEGER,
            freight DECIMAL(10,4) DEFAULT 0,
            ship_name VARCHAR(40),
            ship_address VARCHAR(60),
            ship_city VARCHAR(15),
            ship_region VARCHAR(15),
            ship_postal_code VARCHAR(10),
            ship_country VARCHAR(15),
            FOREIGN KEY (customer_id) REFERENCES customers(customer_id),
            FOREIGN KEY (employee_id) REFERENCES employees(employee_id),
            FOREIGN KEY (ship_via) REFERENCES shippers(shipper_id)
        )
    """,
    
    "order_details": """
        CREATE TABLE order_details (
            order_id INTEGER,
            product_id INTEGER,
            unit_price DECIMAL(10,4) NOT NULL,
            quantity SMALLINT NOT NULL,
            discount REAL NOT NULL DEFAULT 0,
            PRIMARY KEY (order_id, product_id),
            FOREIGN KEY (order_id) REFERENCES orders(order_id),
            FOREIGN KEY (product_id) REFERENCES products(product_id)
        )
    """
}

# ìŠ¤í‚¤ë§ˆ ì‹¤í–‰
try:
    print(f"ğŸ“Š ì´ {len(schema_sql)}ê°œ í…Œì´ë¸” ìƒì„± ì¤‘...")
    
    for table_name, sql in schema_sql.items():
        cursor.execute(sql)
        print(f"   âœ… {table_name} í…Œì´ë¸” ìƒì„± ì™„ë£Œ")
    
    conn.commit()
    print("\nğŸ‰ Northwind ìŠ¤í‚¤ë§ˆ ìƒì„± ì™„ë£Œ!")
    
    # ìƒì„±ëœ í…Œì´ë¸” í™•ì¸
    cursor.execute("SELECT name FROM sqlite_master WHERE type='table'")
    tables = [row[0] for row in cursor.fetchall()]
    
    print(f"\nğŸ“‹ ìƒì„±ëœ í…Œì´ë¸” ({len(tables)}ê°œ):")
    for table in tables:
        print(f"   ğŸ“‚ {table}")
    
except Exception as e:
    print(f"âŒ ìŠ¤í‚¤ë§ˆ ìƒì„± ì‹¤íŒ¨: {str(e)}")
    conn.rollback()
    raise

In [ ]:
# 4. ìƒ˜í”Œ ë°ì´í„° ì‚½ì… - Categories (ì¹´í…Œê³ ë¦¬)
print("ğŸ“¦ ì¹´í…Œê³ ë¦¬ ë°ì´í„° ì‚½ì…...")

categories_data = [
    (1, 'Beverages', 'Soft drinks, coffees, teas, beers, and ales'),
    (2, 'Condiments', 'Sweet and savory sauces, relishes, spreads, and seasonings'),
    (3, 'Dairy Products', 'Cheeses'),
    (4, 'Seafood', 'Seaweed and fish'),
    (5, 'Grains/Cereals', 'Breads, crackers, pasta, and cereal'),
    (6, 'Meat/Poultry', 'Prepared meats'),
    (7, 'Produce', 'Dried fruit and bean curd'),
    (8, 'Confections', 'Desserts, candies, and sweet breads')
]

cursor.executemany(
    "INSERT INTO categories (category_id, category_name, description) VALUES (?, ?, ?)",
    categories_data
)

print(f"âœ… {len(categories_data)}ê°œ ì¹´í…Œê³ ë¦¬ ì‚½ì… ì™„ë£Œ")

In [ ]:
# 5. ìƒ˜í”Œ ë°ì´í„° ì‚½ì… - Suppliers (ê³µê¸‰ì—…ì²´)
print("ğŸ¢ ê³µê¸‰ì—…ì²´ ë°ì´í„° ì‚½ì…...")

suppliers_data = [
    (1, 'Exotic Liquids', 'Charlotte Cooper', 'Purchasing Manager', '49 Gilbert St.', 'London', None, 'EC1 4SD', 'UK', '(171) 555-2222', None),
    (2, 'New Orleans Cajun Delights', 'Shelley Burke', 'Order Administrator', 'P.O. Box 78934', 'New Orleans', 'LA', '70117', 'USA', '(100) 555-4822', None),
    (3, 'Grandma Kelly\'s Homestead', 'Regina Murphy', 'Sales Representative', '707 Oxford Rd.', 'Ann Arbor', 'MI', '48104', 'USA', '(313) 555-5735', '(313) 555-3349'),
    (4, 'Tokyo Traders', 'Yoshi Nagase', 'Marketing Manager', '9-8 Sekimai Musashino-shi', 'Tokyo', None, '100', 'Japan', '(03) 3555-5011', None),
    (5, 'Cooperativa de Quesos \'Las Cabras\'', 'Antonio del Valle Saavedra', 'Export Administrator', 'Calle del Rosal 4', 'Oviedo', 'Asturias', '33007', 'Spain', '(98) 598 76 98', None),
    (6, 'Mayumi\'s', 'Mayumi Ohno', 'Marketing Representative', '92 Setsuko Chuo-ku', 'Osaka', None, '545', 'Japan', '(06) 431-7877', None),
    (7, 'Pavlova Ltd.', 'Ian Devling', 'Marketing Manager', '74 Rose St. Moonie Ponds', 'Melbourne', 'Victoria', '3058', 'Australia', '(03) 444-2343', '(03) 444-6588'),
    (8, 'Specialty Biscuits Ltd.', 'Peter Wilson', 'Sales Representative', '29 King\'s Way', 'Manchester', None, 'M14 GSD', 'UK', '(161) 555-4448', None)
]

cursor.executemany(
    """INSERT INTO suppliers (supplier_id, company_name, contact_name, contact_title, 
       address, city, region, postal_code, country, phone, fax) 
       VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)""",
    suppliers_data
)

print(f"âœ… {len(suppliers_data)}ê°œ ê³µê¸‰ì—…ì²´ ì‚½ì… ì™„ë£Œ")

In [ ]:
# 6. ìƒ˜í”Œ ë°ì´í„° ì‚½ì… - Products (ìƒí’ˆ)
print("ğŸ›ï¸ ìƒí’ˆ ë°ì´í„° ì‚½ì…...")

products_data = [
    (1, 'Chai', 1, 1, '10 boxes x 20 bags', 18.0000, 39, 0, 10, 0),
    (2, 'Chang', 1, 1, '24 - 12 oz bottles', 19.0000, 17, 40, 25, 0),
    (3, 'Aniseed Syrup', 1, 2, '12 - 550 ml bottles', 10.0000, 13, 70, 25, 0),
    (4, 'Chef Anton\'s Cajun Seasoning', 2, 2, '48 - 6 oz jars', 22.0000, 53, 0, 0, 0),
    (5, 'Chef Anton\'s Gumbo Mix', 2, 2, '36 boxes', 21.3500, 0, 0, 0, 1),
    (6, 'Grandma\'s Boysenberry Spread', 3, 2, '12 - 8 oz jars', 25.0000, 120, 0, 25, 0),
    (7, 'Uncle Bob\'s Organic Dried Pears', 3, 7, '12 - 1 lb pkgs.', 30.0000, 15, 0, 10, 0),
    (8, 'Northwoods Cranberry Sauce', 3, 2, '12 - 12 oz jars', 40.0000, 6, 0, 0, 0),
    (9, 'Mishi Kobe Niku', 4, 6, '18 - 500 g pkgs.', 97.0000, 29, 0, 0, 1),
    (10, 'Ikura', 4, 4, '12 - 200 ml jars', 31.0000, 31, 0, 0, 0),
    (11, 'Queso Cabrales', 5, 3, '1 kg pkg.', 21.0000, 22, 30, 30, 0),
    (12, 'Queso Manchego La Pastora', 5, 3, '10 - 500 g pkgs.', 38.0000, 86, 0, 0, 0),
    (13, 'Konbu', 6, 4, '2 kg box', 6.0000, 24, 0, 5, 0),
    (14, 'Tofu', 6, 7, '40 - 100 g pkgs.', 23.2500, 35, 0, 0, 0),
    (15, 'Genen Shouyu', 6, 2, '24 - 250 ml bottles', 15.5000, 39, 0, 5, 0),
    (16, 'Pavlova', 7, 8, '32 - 500 g boxes', 17.4500, 29, 0, 10, 0),
    (17, 'Alice Mutton', 7, 6, '20 - 1 kg tins', 39.0000, 0, 0, 0, 1),
    (18, 'Carnarvon Tigers', 7, 4, '16 kg pkg.', 62.5000, 42, 0, 0, 0),
    (19, 'Teatime Chocolate Biscuits', 8, 8, '10 boxes x 12 pieces', 9.2000, 25, 0, 5, 0),
    (20, 'Sir Rodney\'s Marmalade', 8, 8, '30 gift boxes', 81.0000, 40, 0, 0, 0)
]

cursor.executemany(
    """INSERT INTO products (product_id, product_name, supplier_id, category_id, 
       quantity_per_unit, unit_price, units_in_stock, units_on_order, reorder_level, discontinued) 
       VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)""",
    products_data
)

print(f"âœ… {len(products_data)}ê°œ ìƒí’ˆ ì‚½ì… ì™„ë£Œ")

In [ ]:
# 7. ìƒ˜í”Œ ë°ì´í„° ì‚½ì… - Customers (ê³ ê°)
print("ğŸ‘¥ ê³ ê° ë°ì´í„° ì‚½ì…...")

customers_data = [
    ('ALFKI', 'Alfreds Futterkiste', 'Maria Anders', 'Sales Representative', 'Obere Str. 57', 'Berlin', None, '12209', 'Germany', '030-0074321', '030-0076545'),
    ('ANATR', 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Owner', 'Avda. de la ConstituciÃ³n 2222', 'MÃ©xico D.F.', None, '05021', 'Mexico', '(5) 555-4729', '(5) 555-3745'),
    ('ANTON', 'Antonio Moreno TaquerÃ­a', 'Antonio Moreno', 'Owner', 'Mataderos 2312', 'MÃ©xico D.F.', None, '05023', 'Mexico', '(5) 555-3932', None),
    ('AROUT', 'Around the Horn', 'Thomas Hardy', 'Sales Representative', '120 Hanover Sq.', 'London', None, 'WA1 1DP', 'UK', '(171) 555-7788', '(171) 555-6750'),
    ('BERGS', 'Berglunds snabbkÃ¶p', 'Christina Berglund', 'Order Administrator', 'BerguvsvÃ¤gen 8', 'LuleÃ¥', None, 'S-958 22', 'Sweden', '0921-12 34 65', '0921-12 34 67'),
    ('BLAUS', 'Blauer See Delikatessen', 'Hanna Moos', 'Sales Representative', 'Forsterstr. 57', 'Mannheim', None, '68306', 'Germany', '0621-08460', '0621-08924'),
    ('BLONP', 'Blondesddsl pÃ¨re et fils', 'FrÃ©dÃ©rique Citeaux', 'Marketing Manager', '24, place KlÃ©ber', 'Strasbourg', None, '67000', 'France', '88.60.15.31', '88.60.15.32'),
    ('BOLID', 'BÃ³lido Comidas preparadas', 'MartÃ­n Sommer', 'Owner', 'C/ Araquil, 67', 'Madrid', None, '28023', 'Spain', '(91) 555 22 82', '(91) 555 91 99'),
    ('BONAP', 'Bon app\'', 'Laurence Lebihan', 'Owner', '12, rue des Bouchers', 'Marseille', None, '13008', 'France', '91.24.45.40', '91.24.45.41'),
    ('BOTTM', 'Bottom-Dollar Markets', 'Elizabeth Lincoln', 'Accounting Manager', '23 Tsawassen Blvd.', 'Tsawassen', 'BC', 'T2F 8M4', 'Canada', '(604) 555-4729', '(604) 555-3745')
]

cursor.executemany(
    """INSERT INTO customers (customer_id, company_name, contact_name, contact_title, 
       address, city, region, postal_code, country, phone, fax) 
       VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)""",
    customers_data
)

print(f"âœ… {len(customers_data)}ê°œ ê³ ê° ì‚½ì… ì™„ë£Œ")

In [ ]:
# 8. ìƒ˜í”Œ ë°ì´í„° ì‚½ì… - Employees (ì§ì›)
print("ğŸ‘¨â€ğŸ’¼ ì§ì› ë°ì´í„° ì‚½ì…...")

employees_data = [
    (1, 'Davolio', 'Nancy', 'Sales Representative', 'Ms.', '1948-12-08', '1992-05-01', '507 - 20th Ave. E. Apt. 2A', 'Seattle', 'WA', '98122', 'USA', '(206) 555-9857', '5467', None, 'Education includes a BA in psychology from Colorado State University in 1970.', 2),
    (2, 'Fuller', 'Andrew', 'Vice President, Sales', 'Dr.', '1952-02-19', '1992-08-14', '908 W. Capital Way', 'Tacoma', 'WA', '98401', 'USA', '(206) 555-9482', '3457', None, 'Andrew received his BTS commercial in 1974 and a Ph.D. in international marketing from the University of Dallas in 1981.', None),
    (3, 'Leverling', 'Janet', 'Sales Representative', 'Ms.', '1963-08-30', '1992-04-01', '722 Moss Bay Blvd.', 'Kirkland', 'WA', '98033', 'USA', '(206) 555-3412', '3355', None, 'Janet has a BS degree in chemistry from Boston College (1984).', 2),
    (4, 'Peacock', 'Margaret', 'Sales Representative', 'Mrs.', '1937-09-19', '1993-05-03', '4110 Old Redmond Rd.', 'Redmond', 'WA', '98052', 'USA', '(206) 555-8122', '5176', None, 'Margaret holds a BA in English literature from Concordia College (1958) and an MA from the American Institute of Culinary Arts (1966).', 2),
    (5, 'Buchanan', 'Steven', 'Sales Manager', 'Mr.', '1955-03-04', '1993-10-17', '14 Garrett Hill', 'London', None, 'SW1 8JR', 'UK', '(71) 555-4848', '3453', None, 'Steven Buchanan graduated from St. Andrews University, Scotland, with a BSC degree in 1976.', 2)
]

cursor.executemany(
    """INSERT INTO employees (employee_id, last_name, first_name, title, title_of_courtesy, 
       birth_date, hire_date, address, city, region, postal_code, country, home_phone, 
       extension, photo, notes, reports_to) 
       VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)""",
    employees_data
)

print(f"âœ… {len(employees_data)}ê°œ ì§ì› ì •ë³´ ì‚½ì… ì™„ë£Œ")

In [ ]:
# 9. ìƒ˜í”Œ ë°ì´í„° ì‚½ì… - Shippers (ìš´ì†¡ì—…ì²´)
print("ğŸšš ìš´ì†¡ì—…ì²´ ë°ì´í„° ì‚½ì…...")

shippers_data = [
    (1, 'Speedy Express', '(503) 555-9831'),
    (2, 'United Package', '(503) 555-3199'),
    (3, 'Federal Shipping', '(503) 555-9931')
]

cursor.executemany(
    "INSERT INTO shippers (shipper_id, company_name, phone) VALUES (?, ?, ?)",
    shippers_data
)

print(f"âœ… {len(shippers_data)}ê°œ ìš´ì†¡ì—…ì²´ ì‚½ì… ì™„ë£Œ")

In [ ]:
# 10. ìƒ˜í”Œ ë°ì´í„° ì‚½ì… - Orders (ì£¼ë¬¸)
print("ğŸ“‹ ì£¼ë¬¸ ë°ì´í„° ì‚½ì…...")

orders_data = [
    (10248, 'ALFKI', 5, '1996-07-04', '1996-08-01', '1996-07-16', 3, 32.3800, 'Alfreds Futterkiste', 'Obere Str. 57', 'Berlin', None, '12209', 'Germany'),
    (10249, 'ANATR', 6, '1996-07-05', '1996-08-16', '1996-07-10', 1, 11.6100, 'Ana Trujillo Emparedados y helados', 'Avda. de la ConstituciÃ³n 2222', 'MÃ©xico D.F.', None, '05021', 'Mexico'),
    (10250, 'ANTON', 4, '1996-07-08', '1996-08-05', '1996-07-12', 2, 65.8300, 'Antonio Moreno TaquerÃ­a', 'Mataderos 2312', 'MÃ©xico D.F.', None, '05023', 'Mexico'),
    (10251, 'AROUT', 3, '1996-07-08', '1996-08-05', '1996-07-15', 1, 41.3400, 'Around the Horn', '120 Hanover Sq.', 'London', None, 'WA1 1DP', 'UK'),
    (10252, 'BERGS', 4, '1996-07-09', '1996-08-06', '1996-07-11', 2, 51.3000, 'Berglunds snabbkÃ¶p', 'BerguvsvÃ¤gen 8', 'LuleÃ¥', None, 'S-958 22', 'Sweden'),
    (10253, 'BLAUS', 3, '1996-07-10', '1996-07-24', '1996-07-16', 2, 58.1700, 'Blauer See Delikatessen', 'Forsterstr. 57', 'Mannheim', None, '68306', 'Germany'),
    (10254, 'BLONP', 5, '1996-07-11', '1996-08-08', '1996-07-23', 2, 22.9800, 'Blondesddsl pÃ¨re et fils', '24, place KlÃ©ber', 'Strasbourg', None, '67000', 'France'),
    (10255, 'BOLID', 9, '1996-07-12', '1996-08-09', '1996-07-15', 3, 148.3300, 'BÃ³lido Comidas preparadas', 'C/ Araquil, 67', 'Madrid', None, '28023', 'Spain'),
    (10256, 'BONAP', 3, '1996-07-15', '1996-08-12', '1996-07-17', 2, 13.9700, 'Bon app\'', '12, rue des Bouchers', 'Marseille', None, '13008', 'France'),
    (10257, 'BOTTM', 4, '1996-07-16', '1996-08-13', '1996-07-22', 3, 81.9100, 'Bottom-Dollar Markets', '23 Tsawassen Blvd.', 'Tsawassen', 'BC', 'T2F 8M4', 'Canada')
]

cursor.executemany(
    """INSERT INTO orders (order_id, customer_id, employee_id, order_date, required_date, 
       shipped_date, ship_via, freight, ship_name, ship_address, ship_city, ship_region, 
       ship_postal_code, ship_country) 
       VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)""",
    orders_data
)

print(f"âœ… {len(orders_data)}ê°œ ì£¼ë¬¸ ì‚½ì… ì™„ë£Œ")

In [ ]:
# 11. ìƒ˜í”Œ ë°ì´í„° ì‚½ì… - Order Details (ì£¼ë¬¸ ìƒì„¸)
print("ğŸ“¦ ì£¼ë¬¸ ìƒì„¸ ë°ì´í„° ì‚½ì…...")

order_details_data = [
    (10248, 11, 14.0000, 12, 0.0),
    (10248, 42, 9.8000, 10, 0.0),
    (10248, 72, 34.8000, 5, 0.0),
    (10249, 14, 18.6000, 9, 0.0),
    (10249, 51, 42.4000, 40, 0.0),
    (10250, 41, 7.7000, 10, 0.0),
    (10250, 51, 42.4000, 35, 0.15),
    (10250, 65, 16.8000, 15, 0.15),
    (10251, 22, 16.8000, 6, 0.05),
    (10251, 57, 15.6000, 15, 0.05),
    (10252, 20, 64.8000, 40, 0.05),
    (10252, 33, 2.0000, 25, 0.05),
    (10252, 60, 27.2000, 40, 0.0),
    (10253, 31, 10.0000, 20, 0.0),
    (10253, 39, 14.4000, 42, 0.0),
    (10253, 49, 16.0000, 40, 0.0),
    (10254, 24, 3.6000, 15, 0.15),
    (10254, 55, 19.2000, 21, 0.15),
    (10254, 74, 8.0000, 21, 0.0),
    (10255, 2, 15.2000, 20, 0.0)
]

cursor.executemany(
    "INSERT INTO order_details (order_id, product_id, unit_price, quantity, discount) VALUES (?, ?, ?, ?, ?)",
    order_details_data
)

print(f"âœ… {len(order_details_data)}ê°œ ì£¼ë¬¸ ìƒì„¸ ì‚½ì… ì™„ë£Œ")

# ëª¨ë“  ë³€ê²½ì‚¬í•­ ì»¤ë°‹
conn.commit()
print("\nğŸ’¾ ëª¨ë“  ë°ì´í„° ë³€ê²½ì‚¬í•­ ì €ì¥ ì™„ë£Œ!")

In [ ]:
# 12. ë°ì´í„°ë² ì´ìŠ¤ ê²€ì¦ ë° í†µê³„
print("ğŸ“Š ë°ì´í„°ë² ì´ìŠ¤ ê²€ì¦ ë° í†µê³„...")
print("=" * 50)

# ê° í…Œì´ë¸”ë³„ ë ˆì½”ë“œ ìˆ˜ í™•ì¸
tables = ['categories', 'suppliers', 'products', 'customers', 'employees', 'shippers', 'orders', 'order_details']

total_records = 0
for table in tables:
    cursor.execute(f"SELECT COUNT(*) FROM {table}")
    count = cursor.fetchone()[0]
    total_records += count
    print(f"ğŸ“‹ {table:15}: {count:6,}ê°œ ë ˆì½”ë“œ")

print(f"\nğŸ“Š ì´ ë ˆì½”ë“œ ìˆ˜: {total_records:,}ê°œ")

# ë°ì´í„°ë² ì´ìŠ¤ íŒŒì¼ í¬ê¸°
file_size = db_path.stat().st_size
print(f"ğŸ’¾ ë°ì´í„°ë² ì´ìŠ¤ í¬ê¸°: {file_size:,} bytes ({file_size/1024:.1f} KB)")

print("\nâœ… Northwind ë°ì´í„°ë² ì´ìŠ¤ êµ¬ì¶• ì™„ë£Œ!")

In [ ]:
# 13. Text-to-SQL í…ŒìŠ¤íŠ¸ ì¿¼ë¦¬ ì‹¤í–‰
print("ğŸ§ª Text-to-SQL ìƒ˜í”Œ ì¿¼ë¦¬ í…ŒìŠ¤íŠ¸...")
print("=" * 50)

# í…ŒìŠ¤íŠ¸ ì¿¼ë¦¬ë“¤
test_queries = [
    {
        'description': 'ì „ì²´ ì¹´í…Œê³ ë¦¬ ëª©ë¡',
        'sql': 'SELECT category_id, category_name, description FROM categories ORDER BY category_id'
    },
    {
        'description': 'ê°€ì¥ ë¹„ì‹¼ ìƒí’ˆ TOP 5',
        'sql': '''SELECT p.product_name, p.unit_price, c.category_name, s.company_name as supplier
                  FROM products p
                  JOIN categories c ON p.category_id = c.category_id
                  JOIN suppliers s ON p.supplier_id = s.supplier_id
                  ORDER BY p.unit_price DESC
                  LIMIT 5'''
    },
    {
        'description': 'ì¹´í…Œê³ ë¦¬ë³„ ìƒí’ˆ ìˆ˜',
        'sql': '''SELECT c.category_name, COUNT(p.product_id) as product_count
                  FROM categories c
                  LEFT JOIN products p ON c.category_id = p.category_id
                  GROUP BY c.category_id, c.category_name
                  ORDER BY product_count DESC'''
    },
    {
        'description': 'ì›”ë³„ ì£¼ë¬¸ í†µê³„',
        'sql': '''SELECT strftime('%Y-%m', order_date) as order_month, 
                         COUNT(*) as order_count,
                         ROUND(AVG(freight), 2) as avg_freight
                  FROM orders 
                  WHERE order_date IS NOT NULL
                  GROUP BY strftime('%Y-%m', order_date)
                  ORDER BY order_month'''
    },
    {
        'description': 'ê³ ê°ë³„ ì´ ì£¼ë¬¸ ê¸ˆì•¡',
        'sql': '''SELECT c.company_name, c.country,
                         COUNT(o.order_id) as order_count,
                         ROUND(SUM(od.unit_price * od.quantity * (1 - od.discount)), 2) as total_amount
                  FROM customers c
                  JOIN orders o ON c.customer_id = o.customer_id
                  JOIN order_details od ON o.order_id = od.order_id
                  GROUP BY c.customer_id, c.company_name, c.country
                  ORDER BY total_amount DESC
                  LIMIT 5'''
    }
]

# ì¿¼ë¦¬ ì‹¤í–‰ ë° ê²°ê³¼ ì¶œë ¥
for i, query in enumerate(test_queries, 1):
    print(f"\n{i}. {query['description']}:")
    print(f"SQL: {query['sql']}")
    
    try:
        cursor.execute(query['sql'])
        results = cursor.fetchall()
        
        if results:
            # ì»¬ëŸ¼ëª… ê°€ì ¸ì˜¤ê¸°
            columns = [description[0] for description in cursor.description]
            
            # pandas DataFrameìœ¼ë¡œ í‘œì‹œ
            df = pd.DataFrame(results, columns=columns)
            print("ê²°ê³¼:")
            print(df.to_string(index=False))
        else:
            print("ê²°ê³¼: ë°ì´í„° ì—†ìŒ")
            
    except Exception as e:
        print(f"âŒ ì¿¼ë¦¬ ì‹¤í–‰ ì˜¤ë¥˜: {str(e)}")
    
    print("-" * 50)

print("\nğŸ‰ Text-to-SQL í…ŒìŠ¤íŠ¸ ì™„ë£Œ!")
print("â–¶ï¸ ì´ì œ LangChain Agentì—ì„œ ì´ ë°ì´í„°ë² ì´ìŠ¤ë¥¼ ì‚¬ìš©í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.")

In [ ]:
# 14. ì—°ê²° ì •ë³´ ë° ì‚¬ìš©ë²• ì•ˆë‚´
print("ğŸ“‹ ë°ì´í„°ë² ì´ìŠ¤ ì—°ê²° ì •ë³´")
print("=" * 50)

print(f"ğŸ“‚ ë°ì´í„°ë² ì´ìŠ¤ íŒŒì¼: {db_path.absolute()}")
print(f"ğŸ”— ì—°ê²° ë¬¸ìì—´: sqlite:///{db_path.absolute()}")
print(f"ğŸ“Š ì´ í…Œì´ë¸”: {len(tables)}ê°œ")
print(f"ğŸ“‹ ì´ ë ˆì½”ë“œ: {total_records:,}ê°œ")

print("\nğŸ”§ Pythonì—ì„œ ì—°ê²°í•˜ëŠ” ë°©ë²•:")
print(f"```python")
print(f"import sqlite3")
print(f"conn = sqlite3.connect('{db_path}')")
print(f"cursor = conn.cursor()")
print(f"```")

print("\nğŸ”§ SQLAlchemyë¡œ ì—°ê²°í•˜ëŠ” ë°©ë²•:")
print(f"```python")
print(f"from sqlalchemy import create_engine")
print(f"engine = create_engine('sqlite:///{db_path}')")
print(f"```")

print("\nğŸ”§ pandasë¡œ ì—°ê²°í•˜ëŠ” ë°©ë²•:")
print(f"```python")
print(f"import pandas as pd")
print(f"import sqlite3")
print(f"conn = sqlite3.connect('{db_path}')")
print(f"df = pd.read_sql_query('SELECT * FROM products LIMIT 5', conn)")
print(f"```")

print("\nğŸ“š ì£¼ìš” í…Œì´ë¸” ê´€ê³„:")
print("   - products â† categories (category_id)")
print("   - products â† suppliers (supplier_id)")
print("   - orders â† customers (customer_id)")
print("   - orders â† employees (employee_id)")
print("   - orders â† shippers (ship_via)")
print("   - order_details â† orders (order_id)")
print("   - order_details â† products (product_id)")

print("\nğŸ¯ Text-to-SQL ìƒ˜í”Œ ì§ˆë¬¸ë“¤:")
sample_questions = [
    "ê°€ì¥ ë¹„ì‹¼ ìƒí’ˆ 5ê°œë¥¼ ë³´ì—¬ì£¼ì„¸ìš”",
    "ê° ì¹´í…Œê³ ë¦¬ë³„ë¡œ ìƒí’ˆì´ ëª‡ ê°œì”© ìˆë‚˜ìš”?",
    "ë…ì¼ ê³ ê°ë“¤ì´ ì£¼ë¬¸í•œ ì´ ê¸ˆì•¡ì€ ì–¼ë§ˆì¸ê°€ìš”?",
    "1996ë…„ 7ì›”ì— ëª‡ ê°œì˜ ì£¼ë¬¸ì´ ìˆì—ˆë‚˜ìš”?",
    "ì¬ê³ ê°€ ê°€ì¥ ë§ì€ ìƒí’ˆì€ ë¬´ì—‡ì¸ê°€ìš”?",
    "ì§ì›ë³„ë¡œ ì²˜ë¦¬í•œ ì£¼ë¬¸ ìˆ˜ë¥¼ ë³´ì—¬ì£¼ì„¸ìš”",
    "ìš´ì†¡ë¹„ê°€ ê°€ì¥ ë¹„ì‹¼ ì£¼ë¬¸ 10ê°œë¥¼ ì°¾ì•„ì£¼ì„¸ìš”",
    "í• ì¸ì´ ì ìš©ëœ ì£¼ë¬¸ ìƒì„¸ë¥¼ ëª¨ë‘ ë³´ì—¬ì£¼ì„¸ìš”"
]

for i, question in enumerate(sample_questions, 1):
    print(f"   {i}. {question}")

# ì—°ê²° ì¢…ë£Œ
conn.close()
print(f"\nğŸ”’ ë°ì´í„°ë² ì´ìŠ¤ ì—°ê²° ì¢…ë£Œ")
print(f"âœ… ë¡œì»¬ Northwind ë°ì´í„°ë² ì´ìŠ¤ êµ¬ì¶• ì™„ë£Œ!")
print(f"ğŸ“… ì™„ë£Œ ì‹œê°„: {datetime.now().strftime('%Y-%m-%d %H:%M:%S')}")